---
layout: about
title: My story
permalink: /my-story/
---

    <section>
      <h1 style="margin-bottom: 0px">Trying to put a dent in the universe</h1>
      <figure class="right">
          <img src="/images/brain-heart.jpg" alt="Follow your heart" width="750" height="750">
        </figure>
     <p>This page is under construction</p>
      </section>
