---
layout: about
title: Job Hunt Checklist
permalink: /checklist/
---

<section>
  <h1 style="margin-bottom: 0px">Overview</h1>
 <!-- <figure class="right">
      <img src="#" alt="Things I love to do to enhance my skills" width="750" height="750">
    </figure> -->
 <p>The compiled checklist below will help you land your dream job in engineering.</p>
  </section>
  <section>
    <ul>
  <li><a href="https://www.youtube.com/watch?v=u6FCNHVWoV8">Build a linkedin strategy for your job search</a></li>    
  <li><a href="https://novoresume.com/">Create and refine your resume</a></li>
  <li><a href="https://www.workatastartup.com/">YC startup directory</a></li>
  <li><a href="https://gallery.mailchimp.com/11fa1ee9c20a64044db2d61ba/files/fb9665b4-5a23-4d17-ab6e-64287cb66ad8/Cold_Email_Tips_To_Land_Your_Dream_Job.pdf">Cold email tips to land your dream job as a software engineer</a></li>
    </ul>
  </section>
  <section class="version">
    <p>Didn't find something to your liking? Click below!</p>
    <p><a href="https://veamly.co/careers"> Psst! We are hiring</a></p>
    </section>