---
layout: default
---

    <div class="nav">
      <ul>
        <li class="first"><a href="https://blog.usejournal.com/dont-let-people-tell-you-what-you-can-t-do-d58a89d39a69">My story</a></li>
        <li><a href="https://medium.com/@azzenabidi">Blog</a></li>
        <li><a href="https://twitter.com/azzenabidi">Say Hi</a></li>
        <li><a href="https://github.com/azzenabidi">Code with me</a></li>
      </ul>
    </div>

    <section>
        <p class="mobile-center">
          <a href="/">Azzen Abidi</a>
        </p>
      </section>
  
      <section>
          <figure class="right">
              <img src="/images/azzen.jpeg" alt="Azzen abidi.">
            </figure>

      <h1>Howdy stranger, I am Just a Hacker Trapped Inside of a Marketer’s Body</h1>
<p>I ditched software engineering to become a marketer. Over the past year, I have been working with amazing folks at <a href="https://veamly.co/veamlysite"><strong>Veamly</strong></a> under the guidance of  <strong><a href="https://veamly.co/startuplessons">resilient & exceptional founders</a> </strong>on a mission to help software engineers take their focus back. I am passionate about <strong><a href="#">blogging</a></strong>, <strong><a href="https://veamly.co/ssmp">Growth Hacking</a></strong>, and <strong><a href="#">software automation</a></strong>. I also love writing <strong><a href="https://veamly.co/veamly-saastock-west-coast">Parody Songs</a></strong>.</p>
    </section>

    <section class="version">
      <p><a href="https://veamly.co/careers"> Psst! We are hiring</a></p>
      </section>

    
   <!--<section class="interior">
     <h2>A day in my life</h2> 
    <p>TBD</p>
  
  
    </section>
--> 
    <section class="more">

      <div class="nav">
        <ul>
          <li class="first"><a href="/resources">Resources</a></li>
          <li><a href="/checklist">Job Hunt Checklist</a></li>
          <li><a href="https://veamly.co/veamlysite">Veamly</a></li>
        
        </ul>
      </div>
    </section>
