---
layout: about
title: Resources
permalink: /resources/
---

    <section>
      <h1 style="margin-bottom: 0px">Overview</h1>
     <!-- <figure class="right">
          <img src="#" alt="Things I love to do to enhance my skills" width="750" height="750">
        </figure> -->
     <p>On this page, I am curating a list of resources for software engineers on productivity, remote work and more.</p>
     <p><strong>Note: This page will be updated frequently.</strong></p>
      </section>
      <section>
        <h2>Resources on productivity at work</h2>
        <h3>Blogs</h3>
        <ul>
          <li><a href="https://blog.veamly.com/productive-startup/">7 Ways to Be More Productive at a Startup</a></li>
          <li><a href="https://blog.veamly.com/handling-emergencies-at-work/">Handling Emergencies at work</a></li>
          <li><a href="https://www.alexishaselberger.com/news-notes/2019/7/1/step-by-step-guide-planning">A step-by-step guide on how to plan (even if you are "not a planner")</a></li>
          <li><a href="https://www.alexishaselberger.com/news-notes/2019/7/9/getting-back-on-track-with-email-after-a-vacation">Getting Back on Track with Email After a Vacation</a></li>
          <li><a href="https://medium.com/thrive-global/8-things-every-person-should-do-before-8-a-m-bdd0e547ff30">8 Things Every Person Should Do Before 8 A.M.</a></li>
          
        </ul>
        <h3>Books</h3>
        <ul>
          <li><a href="https://www.amazon.com/Habits-Highly-Effective-People-Anniversary/dp/1511317299">The 7 habits of highly effective people</a></li>
          <li><a href="https://www.amazon.com/Effective-Engineer-Engineering-Disproportionate-Meaningful/dp/0996128107">The effective engineer</a></li>
          <li><a href="https://www.amazon.com/Eat-That-Frog-Great-Procrastinating-ebook/dp/B001AFF25W">Eat that frog</a></li>
          <li><a href="https://www.amazon.com/Pragmatic-Programmer-Journeyman-Master/dp/020161622X">The pragmatic programmer</a></li>
          
          
        </ul>
      </section>
      <section>
        <h2>Resources on remote work</h2>
        <h3>Blogs</h3>
        <ul>
          <li><a href="https://doist.com/blog/how-to-ask-to-work-from-home/">How to Ask to Work From Home (With Exact Scripts & Email Templates to Aid Your Negotiation)</a></li>
          <li><a href="https://www.forbes.com/sites/alexandratalty/2019/01/15/work-from-home-2019-the-top-100-companies-for-remote-jobs/#76f2ebef1544">Work From Home 2019: The Top 100 Companies For Remote Jobs</a></li>
          <li><a href="https://www.forbes.com/sites/abdullahimuhammed/2019/05/21/heres-why-remote-workers-are-more-productive-than-in-house-teams/#35b2dc9f6f9f">Here's Why Remote Workers Are More Productive Than In-House Teams</a></li>
          <li><a href="https://www.fastcompany.com/90395082/how-to-address-the-productivity-and-satisfaction-pitfalls-of-remote-work">How to address the pitfalls of remote work</a></li>
          <li><a href="https://doist.com/blog/travel-remote-work-digital-nomad/">Remote Work While Traveling Abroad: Candid Advice From People Who’ve Done It</a></li>
          
        </ul>
        <h3>Books</h3>
        <ul>
          <li><a href="https://www.amazon.com/Remote-Office-Required-Jason-Fried/dp/0804137501">Remote: Office not required</a></li>
          
        </ul>
      </section>
     
     <!-- <section>
        <h2>Handpicked Podcasts</h2>
        <p>This list is updated frequently</p>
      </section>
    -->
      <section> <p>If you are actively looking for a job you can head over  to <a href="/checklist"><strong> the hunt checklist</strong>.</a></p>
      </section>
     
      
       