/*--------------------------------------------------
GENERAL
--------------------------------------------------*/

body {
  font-family: Georgia, serif;
  line-height: 2rem;
  font-size: 1.3rem;
  background-color: white;
  margin: 0;
  padding: 0;
  color: #000;
}

small { font-size: 1rem; }

img { border: 0; }

a { color: #cc0000; text-decoration: none; }

p a:hover { text-decoration: underline; }

h1 {
  font-weight: normal;
  line-height: 2.8rem;
  font-size: 2.5rem;
  letter-spacing: -1px;
  color: black;
  margin-bottom: 1rem;
}

h2 {
  font-weight: normal;
  font-size: 1.8rem;
  color: black;
  margin-top: 2rem;
  margin-bottom: -0.5rem;
}

.container {
  width: 960px;
  margin: 0 auto 40px;
  overflow: hidden;
}

.show-mobile { display: none; }

/*--------------------------------------------------
NAV
--------------------------------------------------*/

.logo { text-align: center; margin: 1rem 0; }
.logo a { border: 0; }

.nav { margin-top: 30px; width: 500px; float: right; font-size: 14px; }
.nav ul { margin: 0; padding: 0; }
.nav ul li { display: inline; list-style-type: none; margin-left: 20px; }
.nav ul li.first { margin-left: 5px; }
.nav ul li a { padding-bottom: 1px; font-weight: bold; border-bottom: 2px solid #cc0000; }
.nav ul li a:hover { color: #000; border-bottom: 2px solid #000; }

.back { margin: 4rem 0; text-align: center; font-size: 1rem; }

/*--------------------------------------------------
LAYOUT
--------------------------------------------------*/

section {
  margin: 0 auto 2rem;
  width: 700px;
}

section.more { overflow: hidden; text-align: center;}
section.more figure img { width: 250px; height: 120px;}

figure { margin: 0; }
figure img { width: 300px; height: 300px; }
figure.right { float: right; margin-right: -7rem; }
figure.left { float:left; margin-left: -5rem; }

.version {
  text-align: center;
  overflow: hidden;
  margin: 3rem auto;
}

.version a {
  font-size: 1.1rem;
  color: white;
  border-bottom: 4px solid #ff9999;
  background-color: #cc0000;
  padding: 1.3rem 2rem;
  border-radius: 20px;
}

.version a:hover {
  opacity: 0.8;
  text-decoration: none;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*--------------------------------------------------
CONTRIBUTORS
--------------------------------------------------*/

.rails-core {
  width: 100%;
  overflow: hidden;
  text-align: center;
}

.person {
  display: inline-block;
  padding: 0.5rem;
  text-align: center;
}

.person a, .person em {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
}

.person em { color: #777; }

.meta {
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  margin-top: 2.5rem;
  line-height: 1.25rem;
}

figure.contributor {
  background-size: 700px 420px;
  background-image: url('images/rails-core.jpg');
  width: 140px;
  height: 0;
  padding-top: 140px;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-size: 1rem;
  line-height: 1.25rem;
}

.david { background-position: 0 0; }
.jeremy { background-position: 560px 0; }
.santiago { background-position: 420px 0; }
.aaron { background-position: 280px 0; }
.xavier { background-position: 140px 0; }
.rafael { background-position: 0 280px; }
.andrew { background-position: 560px 280px; }
.guillermo { background-position: 420px 280px; }
.carlos { background-position: 280px 280px; }
.yves { background-position: 140px 280px; }
.godfrey { background-position: 0 560px; }
.matthew { background-position: 560px 560px; }
.kasper { background-position: 420px 140px; }
.eileen { background-position: 280px 140px; }
.george { background-position: 140px 140px; }

figure p { margin: 0; }

/*--------------------------------------------------
LANGUAGE SWITCHER
--------------------------------------------------*/
.select__wrapper {
  vertical-align: top;
  display: inline-block;
  position: absolute;
  top: 30px;
  right: 50px;
}

.language__item {
  font-size: 1rem;
  font-weight: bold;
  font-family: Georgia, serif;
}

.select__wrapper .language__items {
  display: none;
}

.select__wrapper.active .language__items {
  display: block;
}

.select__wrapper .language__items {
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  border-radius: 0;
  margin-top: 5px;
  color: #000;
  border-bottom: 4px solid rgba(0,0,0,.666);
  background-color: #eeeeee;
  border-radius: 7px;
}

.select__wrapper > .language__item {
  width: 120px;
  height: 100%;
  -moz-appearance: none;
  -webkit-appearance: none;
  outline: none;
  border-radius: 0;
  padding: 0rem 1.2rem;
}

.select__wrapper > .language__item.active {
  color: white;
  cursor: pointer;
  border-bottom: 4px solid #ff9999;
  background-color: #cc0000;
  border-radius: 12px;
}

.select__wrapper::before {
  content: '';
  position: absolute;
  top: 14px;
  right: 18px;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #ffffff transparent transparent transparent;
}

.select__wrapper.active:before {
  top: 12px;
  border-width: 0px 4px 6px 4px;
  border-color: transparent transparent #ffffff transparent;
}

.select__wrapper.active > .language__items > .language__item:hover {
  background: #ca0813;
}

.select__wrapper.active > .language__items > .language__item > a {
  display: block;
  width: 76.666%;
  color: #000;
}

.select__wrapper.active > .language__items > .language__item:hover > a {
  color: #fff;
}

.select__wrapper.active > .language__items > .language__item > a {
  padding: 0rem 1.2rem;
}

.help__translate {
  padding-bottom: 1px;
  font-weight: bold;
  font-size: 16px;
  border-bottom: 2px solid #cc0000;
}

/*----------------------------------------------------
RESPONSIVE CSS
----------------------------------------------------*/

/* iPhone */
@media only screen and (max-device-width: 480px) {
  body {
    font-size: 1.2rem;
  }
  .container { width: auto; margin: 0; }
  .mobile-center { text-align: center; }
  section { width: auto; }
  .version { margin: 0 auto; }
  .version a { padding: 1rem; }
  .nav { width: 100%; margin: 20px 0 40px; overflow: hidden; text-align: center; }
  .nav ul li, .nav ul li.first { margin: 5px; line-height: 2rem; display: inline-block; }
  .nav ul li.back { margin-right: 10px; }
  section { padding: 10px;}
  h1 { font-size: 32px; margin-top: 10px; }
  h2 { font-size: 21px; font-weight: bold; margin-bottom: -18px; }
  figure img { width: 380px; height: 380px; }
  figure.right, figure.left { margin: 0; float: none; }
  .show-mobile { display: block; }
  .hide-mobile { display: none; }

  .select__wrapper { display: block; position: inherit; }
  .select__wrapper::before { top: 100px; right: 40px; }
  .select__wrapper.active:before { top: 100px; }
  .select__wrapper > .language__item { width: 80%; margin: 0 auto; }
  .select__wrapper > .language__item.active { border-radius: 6px; }
  .select__wrapper .language__items { width: 90%; margin: 10px auto; }
}

/* iPad */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  .select__wrapper { right: 0px; }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
}

select::-ms-expand {
        display: none;
    }
