---
layout: default
---
<div class="nav">
  <ul>
    <li class="first"><a href="https://blog.usejournal.com/dont-let-people-tell-you-what-you-can-t-do-d58a89d39a69">My story</a></li>
    <li><a href="https://medium.com/@azzenabidi">Blog</a></li>
    <li><a href="https://twitter.com/azzenabidi">Say Hi</a></li>
    <li><a href="https://github.com/azzenabidi">Code with me</a></li>
  </ul>
</div>
<section>
  <p class="mobile-center">
    <a href="/">Azzen Abidi</a>
  </p>
</section>



{{ content }}

<section>
  <p class="back">
    <a href="/">&larr; Back to homepage</a>
  </p>
</section>

