---
layout: default
---
<section>
  <p class="mobile-center">
    <a href="/">Azzen Abidi</a>
  </p>
</section>

{{ content }}

<section>
  <p class="back">
    <a href="/">&larr; Back to homepage</a>
  </p>
</section>
